@import url("https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:300,400,600,700&display=swap");
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Aleo', serif;
*/
$main-font: "Josefin Sans", sans-serif;
$main-color: white;
body {
  margin: 0 0;
  width: 100%;
  color: $main-color;

  p {
    font-family: $main-font;
  }
}
#home {
  background-image: url(../images/Image_main.jpg);
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  h1 {
    font-family: $main-font;
    font-size: 48px;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin: 0;
    padding-top: 15%;
    @media screen and (max-width: 340px) {
      & {
        font-size: 42px;
      }
    }
  }
  p {
    font-size: 22px;
    letter-spacing: 0.31em;
    font-weight: lighter;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 50px;
  }
  input[type="search"] {
    width: 650px;
    height: 60px;
    @media screen and (max-width: 770px) {
      & {
        width: 500px;
      }
    }
    @media screen and (min-width: 451px) and (max-width: 770px) {
      & {
        width: 400px;
      }
    }
    @media screen and (max-width: 450px) {
      & {
        width: 300px;
      }
    }

    position: relative;
    &::placeholder {
      font-family: $main-font;
      font-size: 14px;
      letter-spacing: 0.2em;
      color: lightgrey;
      padding-left: 15%;
      @media screen and (max-width: 771px) {
        & {
          padding-left: 5%;
        }
      }
      @media screen and (max-width: 770px) {
        & {
          font-size: 10px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
  button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 150px;
    height: 56px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: $main-color;
    font-family: $main-font;

    background-color: #5474fd;
    @media screen and (max-width: 450px) {
      & {
        width: 110px;
        text-align: start;
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 5px #5474fd;
    }
    img {
      position: absolute;
      top: 18px;
      right: 10px;
    }
  }
  form {
    margin: 0 auto 75px auto;
    font-size: 0;
    position: relative;
    width: 650px;
    @media screen and (max-width: 771px) {
      & {
        width: 500px;
      }
    }
    @media screen and (min-width: 451px) and (max-width: 770px) {
      & {
        width: 400px;
      }
    }
    @media screen and (max-width: 450px) {
      & {
        width: 300px;
      }
    }
  }
}
header {
  position: absolute;
  bottom: 0px;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  background-color: #5474fd;
  height: 80px;
  align-items: center;
  width: 70%;

  a {
    text-transform: uppercase;
    padding-left: 30px;
    @media screen and (max-width: 1200px) {
      & {
        display: none;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.logo {
  font-family: $main-font;
  font-size: 24px;
  color: $main-color;
  font-weight: 600;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  position: absolute;
  right: 10%;
  width: 27px;
  height: 27px;
  display: inline-block;
  visibility: hidden;

  @media screen and (max-width: 1200px) {
    & {
      visibility: visible;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 27px;
    background-color: $main-color;
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }
}
a {
  color: $main-color;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
  font-family: $main-font;

  img {
    display: block;
    width: 15px;
    padding-top: 10px;
    margin: 0 auto;
  }
}
#why_choise_us {
  background-image: url(../images/Rectangle_7.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    @media screen and (max-width: 570px) {
      flex-direction: column;
    }
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    a {
      background-color: #5474fd;
      opacity: 0.7;
      text-transform: uppercase;
      padding: 15px;
      margin-top: 15px;
      display: inline-block;
      &:hover {
        box-shadow: 0 2px 5px #5474fd;
      }
    }
  }
  .column {
    width: 31%;
    padding: 5%;
    @media screen and (max-width: 570px) {
      width: 60%;
    }
    .image1 {
      float: left;
      max-width: 100%;
    }
    .image2 {
      float: right;
      max-width: 100%;
    }
  }
  h2 {
    font-family: "Aleo", serif;
    font-size: 36px;

    font-weight: 300;
  }
  p {
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 0.1;
    line-height: 26px;
    font-weight: lighter;
  }
}
#icons {
  padding: 5% 15%;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  @media screen and (max-width: 570px) {
    flex-direction: column;
  }
  h2 {
    font-family: "Aleo", serif;
    font-size: 36px;

    font-weight: lighter;
    @media screen and (min-width: 771px) and (max-width: 1011px) {
      font-size: 28px;
    }
    @media screen and (min-width: 571px) and (max-width: 770px) {
      font-size: 20px;
    }
  }
}
#spain1 {
  background-image: url(../images/Spain1.jpg);
  height: 50vh;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  div {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 350px;
    padding: 0 2%;
    background-color: black;
    opacity: 0.8;
    @media screen and (max-width: 625px) {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }

    p {
      font-size: 20px;
      letter-spacing: 0;
      font-weight: lighter;
      font-size: 16px;
      margin: 10px 0;
      @media screen and (max-width: 450px) {
        font-size: 12px;
      }
    }
    h3 {
      margin: 0;
      font-family: $main-font;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
    }
    a {
      background-color: #5474fd;
      opacity: 0.9;
      text-transform: uppercase;
      padding: 15px;
      display: inline-block;
      margin-bottom: 15px;
      &:hover {
        box-shadow: 0 2px 5px #5474fd;
      }
    }
  }
}
#spain2 {
  background-image: url(../images/Spain2.jpg);
  height: 50vh;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  div {
    position: absolute;
    bottom: 25%;
    right: 20%;
    width: 350px;
    padding: 0 2%;
    background-color: black;
    opacity: 0.8;
    @media screen and (max-width: 625px) {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }

    p {
      font-size: 20px;
      letter-spacing: 0;
      font-weight: lighter;
      font-size: 16px;
      margin: 10px 0;
      @media screen and (max-width: 450px) {
        font-size: 12px;
      }
    }
    h3 {
      margin: 0;
      font-family: $main-font;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
    }
    a {
      background-color: #5474fd;
      opacity: 0.9;
      text-transform: uppercase;
      padding: 15px;
      display: inline-block;
      margin-bottom: 15px;
      &:hover {
        box-shadow: 0 2px 5px #5474fd;
      }
    }
  }
}
#tourist_say {
  background-image: url(../images/Rectangle_4142.jpg);
  height: 730px;

  padding: 0 10%;
  & > div {
    display: flex;

    @media screen and (max-width: 770px) {
      flex-direction: column;
    }
    .photo {
      width: 100%;

      img {
        max-width: 100%;
      }
    }
    .text {
      background-color: #333333;
      padding: 0 5%;
    }
    h3 {
      margin: 30px 0 0 0;
      font-family: $main-font;
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 400;

      @media screen and (max-width: 770px) {
        padding-left: 0;
        padding-top: 5%;
      }
    }
    i {
      margin-top: 15px;
      color: #5474fd;
    }
    p {
      margin-top: 0;

      line-height: 20px;
      text-indent: 20px;

      @media screen and (max-width: 770px) {
        padding-left: 0;
      }
    }
  }
  h2 {
    font-family: "Aleo", serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    padding: 10%;
    text-align: center;
  }
}
footer {
  height: 260px;
  background-color: #232323;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-weight: lighter;
  }
  a {
    padding: 9px;
  }
  a:hover {
    color: #5474fd;
  }
}
